<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
<ol>
    <li>Python</li>
    <li>R</li>
    <li>Scala</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
    <li>Numpy</li>
    <li>Scipy</li>
    <li>Pandas</li>
</ol>

<table>
    <tr>
    <td>Data Science Tools</td>
  </tr>
    <tr>
    <td>RStudio</td>
  </tr>
    <tr>
    <td>Apache Spark</td>
  </tr>
    <tr>
    <td>TensorFlow</td>
  </tr>

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

<b>Objectives:</b>
<ol>
    <li>List popular languages for Data Science</li>
    <li>List commonly used libraries used by Data Scientists</li>
    <li>List popular Data Science Tools</li>
</ol>

<h2>Author</h2><br>
Soumesh Mondal